

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Welcome</ion-title>
    <p class="subTitle">Sign Up to create your account</p>
  </div>
  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="name" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

    </div>
    <div class="signinLink">
      <p>Already a member? <a style="color: #FFC33F;" [routerLink]="['/login']">Signin Now</a></p>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
